@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .bg-primary {
    background-color: #3b82f6;
  }
  .text-primary {
    color: #3b82f6;
  }
  .border-primary {
    border-color: #3b82f6;
  }
}

body {
  background-color: #f3f4f6;
  color: #1f2937;
  font-family: var(--font-sans), sans-serif;
}
